<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

        <title>{% block title %}Gallery{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <script>$(document).ready(function () {
            bsCustomFileInput.init()
        })</script>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
