<div class="menu-icon">
    <span class="menu-icon__line menu-icon__line-left"></span>
    <span class="menu-icon__line"></span>
    <span class="menu-icon__line menu-icon__line-right"></span>
</div>

<div class="nav">
    <div class="nav__content">
        <ul class="nav__list">
            <li id="home" class="nav__list-item" onClick="window.location.href = '{{ path('home_show') }}'">Home</li>
            <li class="nav__list-item">About</li>
            <li class="nav__list-item text-secondary"><a onClick="window.location.href = '{{ path('app_logout') }}'">Logout</a></li>
        </ul>
    </div>
</div>

<!--<div class="site-content">-->
<!--</div>-->